// File: _header.scss

header {
    width: 100%;
    height: 45vh;
    // background-color: $grey-100;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/a1a5d7dc-aedf-4570-b58d-693af16e1445/59d49e4f-64c9-4e70-86e3-4bdf95579313/BE-nl-20211020-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    background-position: center;
}